<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="2.0.4" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Sinks.Elasticsearch" version="3.0.134" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="1.2.0" targetFramework="net452" />
</packages>